@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("./fonts.css");
@import url("./normalize.css");
@import url("./reset.css");
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: inset(0,0);
}
/* 플로트 이슈를 해결하기 위한 css 선언 */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/* 링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus{
  color: #f00;
}

/* 공통 스타일 */
*, *::before, *::after{
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}
html{
  font-size: 10px;
}
body{
  margin: 0;
  font-weight: 400;
  color : #181818;
  font-size: 1.4rem;
}

/* 레이아웃 */
.container{
  background: url(./images/bg_flower.png) no-repeat 50% 0, linear-gradient(to bottom, #999 0%, #ccc 40%, #eee 60%, #fff 100%);
  /* display: flex;
  flex-direction: column; */
  /* flex-flow: column wrap; */
  /* flex-wrap: wrap;
  justify-content: center; */
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.header, .visual, .main, .slogan{
  align-self: center;
}
/* 헤더 */
.header{
  background: #fff;
  position: relative;
  padding:0 30px;
  border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo{
  /* background: teal; */
  position: absolute;
  top: 47px;
  left: 65px;
}
/* 멤버 링크 모음 */
.member{
  padding:2px 0;
  text-align: right;
  font-size: 0px;
  margin-right: -10px;
}
.member li, .member a{
  display:inline-block;
}
.member li{
  font-size: 1.4rem;
}
.bar::before{
  content: ":";
}
.member a{
  padding: 8px 10px;
  text-transform: uppercase;
}
/* 메인 메뉴 */
.navigation{
  padding-bottom: 40px;
}
.menu{
  color: #181818;
  /* background-color: orange;
  background-image: linear-gradient(to bottom, red,green); */
  background: #e2622b linear-gradient(to bottom, #e29a2d 0%, #e2622b 30%, #e2622b 70%, #e29a2d 100% );
  height: 47px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 -2px 0 0 #181818;
  /* border-top: 2px solid #181818; */
  padding-left: 230px;
}
.menu-item{
  float: left;
  position: relative;
  /* line-height: 20px; */
  border-left: 2px solid rgba(255,255,255,0.85);
  padding: 0 17px;
}
/* 아래의 상황에서만 아웃라인을 없앤다(겉에 네모칸 쳐지는거) */
.menu-item:focus, .sub-menu a:focus{
  outline: 0;
}
.menu-item-text{
  line-height: 47px;
  display: block;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  text-shadow: 1px 0 0 #181818, 0 1px 0 #181818, -1px 0 0 #181818, 0 -1px 0 #181818;
}
.menu-act .menu-item-text{
 color : #ff0;
 border-bottom:2px solid #181818;
}
.sub-menu{
position: absolute;
top:49px;
display: none;
white-space: nowrap;
}

.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0px;
}

.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0px;
}
.menu-act .sub-menu{
  display : block;
}

.sub-menu li, .sub-menu a{
  display:inline-block;
}

.sub-menu li{
  display: inline-block;
}
.sub-menu a{
   padding : 10px 0;
}
.sub-menu a::before{
  content: '\f192';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before{
  content: '\e801'
}
/* 비주얼 */
@keyframes textAni{
  /* 글자크기를 12->24px로 늘려주는 작업을 할 예정 */
  0%{
      font-size: 12px;
      color: rgba(0,0,0,0); /*완전히 투명한 상태*/
      /* margin: 0; */
      /* padding: 0; */
      transform: translate(0,0);
  }
  100%{
      font-size: 24px;
      color: rgba(0,0,0,1); /*불투명한 상태로 변경*/
      /* margin: 75px 0 0 400px; margin은 box사이즈에 더해지기 때문에 이렇게 하면 안된다 */
      /* padding : 75px 0 0 400px; padding을 써서 animation을 구현하면 성능에 영향을 준다.  */
      transform: translate(400px,75px);
  }
}
@keyframes bgAni{
  0%{opacity: 1;} /*불투명하게 시작해서 (1) -> 투명하게 만든다(0)*/
  100%{opacity: 0;}
}
.visual{
  height:130px;
  position: relative;
}
.visual::before, .visual::after{
  /* 부모와 동일한 사이즈를 덮는다.  */
  content:"";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-repeat: no-repeat;
  /* animation-name: bgAni;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate; */

  /* 위의 4줄과 아래의 한줄과 같은 코드이다.  */
  animation:bgAni 2000ms infinite alternate;
  /* animation-play-state: paused; */
}
.visual::before{
  background-image: url("./images/ani_flower_01.png"), url("./images/ani_flower_02.png"); /*1번 이미지가 위로 올라온다.*/
  background-position: 0 -10px, 670px 0; /*앞의 이미지, 뒤의 의미지 별도로 설정 가능 */
}
.visual::after{
  background-image: url("./images/ani_flower_03.png"), url("./images/ani_flower_04.png"); /*1번 이미지가 위로 올라온다.*/
  background-position: 300px 0, 800px 15px; 
  animation-delay: 1000ms;
}
.visual-text{
  /* background: yellow; */
  /* 위에서 아래로 내려오는 애니메이션 효과 / animation이 실행되려면, 실행될 시간 및 어떤 애니가 실행될지를 적어라(textAni)*/
  animation-name : textAni;
  animation-duration: 1000ms; /*2초에 걸쳐서 실행되어라*/
  animation-fill-mode: forwards; /*0->100% 실행 시, 100% font크기(textAni의 100% 24px로 자동 적용 됨*/
  position: absolute; /*width를 주지않으면 content크기만큼만 차지 한다. */
  font-family: Georgia, 'Times New Roman', Times, serif
}
.main{
  background: #fff;
  border-radius: 15px 15px 0 0;
  padding: 30px 0px;
  /* overflow: hidden; */
  min-height: 400px;
  /* display:flex;
  justify-content: space-between; */
}

.group{
  margin: 0 15px;
  float: left;
}
.group1{
  
  width: 250px;
  
}
.group2{
  /* clear: both; */
  

  width: 380px;
  /* order: -1; */
}
.group3{
  
  width: 190px;
}

/* 로그인 */
.login{
  background: orange;
}
.slogan{
  background: purple;
  height: 10vh;
}
.footer-bg{
  background: silver;
  /* flex-basis: 100%;
  display: flex;
  justify-content: center; */
}
.footer{
  background: yellow;
  height: 10vh;
}

